html {
    font-family: "Helvetica";
}

/* Whole page container */
.background {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #00F;
    width: 100%;
    height: 100%;
}

/* Nav bar. */
.navigation {
    background-color: #000;
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    z-index:400;
}

.search-icon {
    color: #fff;
    padding: 10px;
}

.search-icon:hover {
    color: #999;
}

.logo-img {
    height:50px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #FFF1E0;
    text-align: center;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


