html {
    font-family: "Helvetica";
}

/* Nav bar. */
.navigation {
    background-color: #000;
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    z-index:400;
}

.search-icon {
    color: #fff;
    padding: 10px;
}

.search-icon:hover {
    color: #999;
}

.logo-img {
    height:50px;
}

/* Index list. */

.index-posting-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.index-posting-container {
    display: flex;
    padding: 20px;
    min-width: 200px;
    height: 400px;
    flex: 1 1 33%;
    max-width: 34%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.posting-name {
    text-align: center;
    cursor: pointer;
}

.index-posting-desc-container {
    display: flex;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.posting-link {
    text-align: center;
    padding: 5px 30px;
    border: 1px solid #000;
    width: auto;
    color: #000;
}

.posting-link:hover {
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

.index-posting-tag-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0;
    margin: 10px;
    flex-grow: 1;
}

.background0 {
    background-color: #BAF3DB;
}

.background1 {
    background-color: #4989C1;
}

.background2 {
    background-color: #80B8DA;
}

.background3 {
    background-color: #92D2D9;
}

.background4 {
    background-color: #F5F2F4;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #FFF1E0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


